.style-product-details{
    margin-left: 100px;
    margin-top: 20px;
    width: 450px;
    height: 500px;
    padding: 30px;
}
.link{
    font-size: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}